#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular open-source document-oriented NoSQL database that stores data in flexible, JSON-like documents, instead of rows and columns as in traditional relational databases. It was designed to handle large volumes of unstructured or semi-structured data, and offers a highly scalable, flexible and performant solution for modern web applications.


Non-relational databases, or NoSQL databases, are databases that store and retrieve data in a way that does not involve tabular relations used in traditional SQL databases. Unlike SQL databases, non-relational databases are highly flexible in terms of schema, allowing developers to store data in a variety of formats without the need for predefined table structures. Additionally, NoSQL databases often offer built-in support for sharding, replication, and high availability, making them ideal for handling large amounts of data across multiple servers.

Some of the scenarios where it is preferred to use MongoDB over SQL databases are:

- Flexible Data Model: MongoDB's document-based model allows developers to store data in a flexible and hierarchical format, making it easier to store and manage complex data structures.

- High Performance and Scalability: MongoDB's distributed architecture and built-in support for sharding and replication make it highly scalable and capable of handling large amounts of data across multiple servers.

- Agile Development: MongoDB's flexible schema and document-based storage make it easy for developers to iterate quickly and respond to changing requirements in an agile development environment.

- Big Data and Real-time Analytics: MongoDB's ability to store and retrieve large volumes of unstructured or semi-structured data makes it well-suited for big data and real-time analytics applications, where data needs to be processed quickly and efficiently.

Overall, MongoDB is a powerful and flexible NoSQL database that can be a great choice for modern web applications that require highly scalable and performant data storage.

#### Q2. State and Explain the features of MongoDB.

- Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.


- Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.


- Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.


- Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.


- Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.


- Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods


- High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB

In [3]:
## importing pymongo libraby
## connecting to the database
import pymongo
client = pymongo.MongoClient("mongodb+srv://SinghPrakash:1234@cluster0.jg3fazz.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
db

Database(MongoClient(host=['ac-3xd8cb6-shard-00-00.jg3fazz.mongodb.net:27017', 'ac-3xd8cb6-shard-00-02.jg3fazz.mongodb.net:27017', 'ac-3xd8cb6-shard-00-01.jg3fazz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-11zusa-shard-0', tls=True), 'test')

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
## inserting one data at a time
data = {"Goal" : "To become DATA SCIENTIST"}
coll_student = db["Student_Sub"]
coll_student.insert_one(data)

In [17]:
## inserting multiple data together
data1 = [{"A" : "Apple"},{"B" : "Bat"},{"C" :"Cat"},{"D": "Dog"},{"E " : "Elephant"}]
coll_student.insert_many(data1)

In [22]:
data2 = [{"Prakash" : 99},{"Singh" : 98},{"Shaan" :75},{"Ronnie": 55},{"Prem" : 45}]
coll_student.insert_many(data2)

In [20]:
## using find_one method to print a single record
coll_student.find_one({"A":"Apple"})

{'_id': ObjectId('6400a5be9d2468dfad3a87a7'), 'A': 'Apple'}

In [18]:
## finding the data inserted
[i for i in coll_student.find()]

[{'_id': ObjectId('6400a42f9d2468dfad3a87a6'),
  'Goal': 'To become DATA SCIENTIST'},
 {'_id': ObjectId('6400a5be9d2468dfad3a87a7'), 'A': 'Apple'},
 {'_id': ObjectId('6400a5be9d2468dfad3a87a8'), 'B': 'Bat'},
 {'_id': ObjectId('6400a5be9d2468dfad3a87a9'), 'C': 'Cat'},
 {'_id': ObjectId('6400a5be9d2468dfad3a87aa'), 'D': 'Dog'},
 {'_id': ObjectId('6400a5be9d2468dfad3a87ab'), 'E ': 'Elephant'}]

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [21]:
## find_one() to find single record
coll_student.find_one({"":"Apple"})

{'_id': ObjectId('6400a5be9d2468dfad3a87a7'), 'A': 'Apple'}

In [48]:
## find() method to find many records
## inserting data
random_Data = [{ 'id' : 3 , "companyname" : 'A' , "Faculty " : "XYZ"},
               {'id' : 30 , "companyname" : 'A' , "Faculty " : "YZ"},
               {'id' : 23 , "companyname" : 'C' , "Faculty " : "XZ"},
               {'id' : 32 , "companyname" : 'A' , "Faculty " : "YZX"},
               {'id' : 23 , "companyname" : 'E' , "Faculty " : "YZZ"}]
coll_student.insert_many(random_Data)

In [34]:
# finding all the records where companyname = "A"
[i for i in  coll_student.find({"companyname": "A"})]

[{'_id': ObjectId('6400a7b39d2468dfad3a87b1'),
  'id': 3,
  'companyname': 'A',
  'Faculty ': 'XYZ'},
 {'_id': ObjectId('6400a7b39d2468dfad3a87b2'),
  'id': 30,
  'companyname': 'A',
  'Faculty ': 'YZ'},
 {'_id': ObjectId('6400a7b39d2468dfad3a87b4'),
  'id': 32,
  'companyname': 'A',
  'Faculty ': 'YZX'}]

In [40]:
## we can simply use our variable name for the collection with 
## find() to print all the records in the collection
coll_student.find()

In [54]:
## all the records in the collection where company name is "A" and id > 25 
[ i for i in coll_student.find({"$and" : [{"companyname": "A"},{"id" : {"$gte" : 25}}]})]

[{'_id': ObjectId('6400a7b39d2468dfad3a87b2'),
  'id': 30,
  'companyname': 'A',
  'Faculty ': 'YZ'},
 {'_id': ObjectId('6400a7b39d2468dfad3a87b4'),
  'id': 32,
  'companyname': 'A',
  'Faculty ': 'YZX'},
 {'_id': ObjectId('6400ac619d2468dfad3a87b7'),
  'id': 30,
  'companyname': 'A',
  'Faculty ': 'YZ'},
 {'_id': ObjectId('6400ac619d2468dfad3a87b9'),
  'id': 32,
  'companyname': 'A',
  'Faculty ': 'YZX'}]

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB

The sort() method in MongoDB allows you to sort the documents in a collection based on one or more fields in either ascending or descending order.

In [60]:
data4 = [
    {"name": "John", "age": 20, "grade": 80},
    {"name": "Mary", "age": 21, "grade": 90},
    {"name": "Peter", "age": 19, "grade": 75},
    {"name": "Jane", "age": 22, "grade": 85},
]
coll_student.insert_many(data4)

# Sort the documents based on the "grade" field in descending order
result = coll_student.find().sort("id", pymongo.DESCENDING)

# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('6400a7b39d2468dfad3a87b4'), 'id': 32, 'companyname': 'A', 'Faculty ': 'YZX'}
{'_id': ObjectId('6400ac619d2468dfad3a87b9'), 'id': 32, 'companyname': 'A', 'Faculty ': 'YZX'}
{'_id': ObjectId('6400a7b39d2468dfad3a87b2'), 'id': 30, 'companyname': 'A', 'Faculty ': 'YZ'}
{'_id': ObjectId('6400ac619d2468dfad3a87b7'), 'id': 30, 'companyname': 'A', 'Faculty ': 'YZ'}
{'_id': ObjectId('6400a7b39d2468dfad3a87b3'), 'id': 23, 'companyname': 'C', 'Faculty ': 'XZ'}
{'_id': ObjectId('6400a7b39d2468dfad3a87b5'), 'id': 23, 'companyname': 'E', 'Faculty ': 'YZZ'}
{'_id': ObjectId('6400ac619d2468dfad3a87b8'), 'id': 23, 'companyname': 'C', 'Faculty ': 'XZ'}
{'_id': ObjectId('6400ac619d2468dfad3a87ba'), 'id': 23, 'companyname': 'E', 'Faculty ': 'YZZ'}
{'_id': ObjectId('6400a7b39d2468dfad3a87b1'), 'id': 3, 'companyname': 'A', 'Faculty ': 'XYZ'}
{'_id': ObjectId('6400ac619d2468dfad3a87b6'), 'id': 3, 'companyname': 'A', 'Faculty ': 'XYZ'}
{'_id': ObjectId('6400a42f9d2468dfad3a87a6'), 'Goal': 'To become DATA SCIENTIST'}
{'_id': ObjectId('6400a5be9d2468dfad3a87a7'), 'A': 'Apple'}
{'_id': ObjectId('6400a5be9d2468dfad3a87a8'), 'B': 'Bat'}
{'_id': ObjectId('6400a5be9d2468dfad3a87ab'), 'E ': 'Elephant'}
{'_id': ObjectId('6400a5be9d2468dfad3a87a9'), 'C': 'Cat'}
{'_id': ObjectId('6400a5be9d2468dfad3a87aa'), 'D': 'Dog'}
{'_id': ObjectId('6400a6cb9d2468dfad3a87af'), 'Ronnie': 55}
{'_id': ObjectId('6400a6cb9d2468dfad3a87ad'), 'Singh': 98}
{'_id': ObjectId('6400a6cb9d2468dfad3a87ac'), 'Prakash': 99}
{'_id': ObjectId('6400a6cb9d2468dfad3a87b0'), 'Prem': 45}
{'_id': ObjectId('6400ad489d2468dfad3a87bb'), 'name': 'John', 'age': 20, 'grade': 80}
{'_id': ObjectId('6400ad489d2468dfad3a87bc'), 'name': 'Mary', 'age': 21, 'grade': 90}
{'_id': ObjectId('6400ad489d2468dfad3a87bd'), 'name': 'Peter', 'age': 19, 'grade': 75}
{'_id': ObjectId('6400ad489d2468dfad3a87be'), 'name': 'Jane', 'age': 22, 'grade': 85}
{'_id': ObjectId('6400ad789d2468dfad3a87bf'), 'name': 'John', 'age': 20, 'grade': 80}
{'_id': ObjectId('6400ad789d2468dfad3a87c0'), 'name': 'Mary', 'age': 21, 'grade': 90}
{'_id': ObjectId('6400ad789d2468dfad3a87c1'), 'name': 'Peter', 'age': 19, 'grade': 75}
{'_id': ObjectId('6400ad789d2468dfad3a87c2'), 'name': 'Jane', 'age': 22, 'grade': 85}
{'_id': ObjectId('6400ad869d2468dfad3a87c3'), 'name': 'John', 'age': 20, 'grade': 80}
{'_id': ObjectId('6400ad869d2468dfad3a87c4'), 'name': 'Mary', 'age': 21, 'grade': 90}
{'_id': ObjectId('6400ad869d2468dfad3a87c5'), 'name': 'Peter', 'age': 19, 'grade': 75}
{'_id': ObjectId('6400ad869d2468dfad3a87c6'), 'name': 'Jane', 'age': 22, 'grade': 85}
{'_id': ObjectId('6400ad9e9d2468dfad3a87c7'), 'name': 'John', 'age': 20, 'grade': 80}
{'_id': ObjectId('6400ad9e9d2468dfad3a87c8'), 'name': 'Mary', 'age': 21, 'grade': 90}
{'_id': ObjectId('6400ad9e9d2468dfad3a87c9'), 'name': 'Peter', 'age': 19, 'grade': 75}
{'_id': ObjectId('6400ad9e9d2468dfad3a87ca'), 'name': 'Jane', 'age': 22, 'grade': 85}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used

delete_one() : This method deletes a single document that matches the specified filter from the collection. If multiple documents match the filter, only the first matching document is deleted. This method returns a DeleteResult object that contains information about the deletion, such as the number of documents deleted.

delete_many() : This method deletes all the documents that match the specified filter from the collection. If no documents match the filter, the method does not delete anything. This method also returns a DeleteResult object that contains information about the deletion, such as the number of documents deleted.

drop() : This method is used to delete an entire collection from the database. It drops the entire collection and all the documents in it, so use this method with caution. This method does not return any result.

In [55]:
## delete_one  it will delete a single record from the collection
coll_student.delete_one({"Shaan" :75})

In [58]:
## delete many will delete multiple records where there is a match

## deleting records where company name is "A"
coll_student.delete_many({"companyname": " A"})

# returns an empty list because we have successfully deleted the records 
[i for i in coll_student.find({"company_name" : "A"})]

[]

In [61]:
## using drop to delete the collection from the database
coll_student.drop()